@model bartnikwolski.ViewModels.Admin.IndexViewModel
@{
    ViewBag.Title = "Panel Admina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var item in Model.PageList)
    {
        <li>@Html.ActionLink(item.Title, "EditPage", new { title = item.Title })</li>
    }
    <li>@Html.ActionLink("Lista Produktów", "Items")</li>
</ul>