/*FONTS*/
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}



body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('../Images/background1.jpg');
    min-height: 1000px;
}
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

#top {
    width: 100%;
}

    #top img {
        width: 100%;
        margin-top: -20px;
    }

#logo {
    width: 500px;
    margin: 0 auto;
}

#menu {
    width: 1340px;
    margin:0 auto;
}

#menu ol {
  list-style-type:none;
  padding:0;
  margin-top: 10px;
  height:2em;
  line-height:1.7em;
  text-align:center;
  font-family: Roboto-Bold;
  font-size: 26px;
  
}
    #menu ol > li > a {
        float: left;
        background-image: url('../Images/Menu1.png');
        background-repeat-y: no-repeat;
        width: 212px;
        height: 47px;
        margin-right: 5px;
        margin-left: 5px;
        color: white;
    }

        #menu ol > li > a:hover {
        background-image: url('../Images/Menu2.png');
        text-decoration: none;
        }


#midContent {
    margin: 0 auto;
    width: 90%;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.7);
}

#footer {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: 100px;
    text-align: center;
    font-family: Roboto-Light;
    font-weight: bold;
    color: #000;
    line-height: 30px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.7);


}