/*FONTS*/
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}



body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('../Images/background1.jpg');
}
/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

#top {
    width: 100%;
}

    #top img {
        width: 100%;
        margin-top: -20px;
    }

#logo {
    width: 500px;
    margin: 0 auto;
}

#menu {
    background-color: rgba(104, 57, 57, 0.6);
    vertical-align: central;
}

    #menu ol {
        list-style-type: none;
        padding: 0;
        margin-top: 10px;
        min-height: 2.5em;
        text-align: center;
        font-family: Roboto-Bold;
        vertical-align: central;
        font-size: 120%;
        font-weight: bolder;
    }

    #menu li {
        text-align: center;
        vertical-align: middle;
    }

        #menu a {
            float: left;
            width: 16.66%;
            height: 2.5em;
            color: white;
            line-height:42px; 
        }

    #menu a:hover {
        background: rgba(255, 255, 255, 0.7);
        color: #000;
        height: 2.5em;
        text-decoration: none;
    }

    #menu li.highlight a {
        background: rgba(255, 255, 255, 0.7);
        color: #000;
        height: 2.5em;
        text-decoration: none;
    }


#midContent {
    margin: 0 auto;
    width: 90%;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.7);
}

#footer {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: 100px;
    text-align: center;
    font-family: Roboto-Light;
    font-weight: bold;
    color: white;
    line-height: 30px;
    font-size: 20px;
    background-color: rgba(104, 57, 57, 0.6);
}

#login input {
    width: 200px;
}
